{% extends 'website/layout.html' %}
{% block body %}
<h1 class="fade-in">Achievements</h1>
{% for achiv in achievements %} 
    <div class="achievement">
        <h2 align="center">{{achiv.title}}</h2>
        <div class="achiv-body">
            <img class="achiv-img" src="{{achiv.image.url}}">
            <div class="achiv-description-container">
                <p class="description">{{achiv.description|linebreaks}}</p>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}