{% extends 'website/layout.html' %}
{% block body %}
<h1 class="fade-in">Committes</h1>
<div class="table-responsive text-nowrap fade-in-up">
    <table class="table data-table no-effects">
        <thead>
            <tr>
                <th scope="col">S.no</th>
                <th scope="col">Committees</th>
                <th scope="col">Members</th>
            </tr>
        </thead>
        <tbody>
        {% for committee in committee %}
        {% with members=committee.members.all %}
            <tr>
                <td scope="row">{{forloop.counter}}.</td>
                <td>{{committee.Committee_name}}</td>
                <td style="text-align: center; line-height: 200%;">
                    {% for members in members %}
                
                    
                        {{members.name}}
                        <br>
                        
                 
                    {% endfor %}

                </td>
            </tr>
        {% endwith %}
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}