{% extends 'website/layout.html' %}
{% block body %}
<h1 class="fade-in">Contact Us</h1>
<table class="contact" border="1">
    <tr>
        <th colspan="2"><h2>Kendiya Vidhyalaya Embassy of India</h2></th>
    </tr>
    <tr>
        <td>Address:</td>
        <td>Lazimpat, Kathmandu(Nepal)</td>
    </tr>
    <tr>
        <td>Post Box No.:</td>
        <td>1201</td>
    </tr>
    <tr>
        <td>Contact:</td>
        <td>(+977) 01-4411259, 01-4414202</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td style="text-transform: none;"><a href="mailto:principalkvkathmandu@gmail.com">principalkvkathmandu@gmail.com</a></td>
    </tr>
    <tr>
        <td>Principal:</td>
        <td>Mr.A.P Vinod Kumar</td>
    </tr>
    <tr>
        <td>Chairman(VMC):</td>
        <td>Shri Prashanna Shrivastav <br> Deputy Chief of Mission (EOI)</td>
    </tr>
</table>
{% endblock %}