{% extends 'website/layout.html' %}
<!-- {{gallery.title}}
{% with image=gallery.images.all %}
{% for image in image %}
{% if forloop.counter == 1 %}
{{image.image.url}}
{% endif %}
{% endfor %}
{% endwith %} -->
{% block body %}
<h1 class="fade-in">Gallery</h1>
    <div class="gallery row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 py-3">
        {% for gallery in gallery %} 
            {% with image=gallery.images.all %}
            <div class="col">
                <div class="card" style="width: 18rem; height: 20rem;"  data-bs-toggle="modal" data-bs-target="#Modal_{{forloop.counter}}">
                    {% for image in image %}
                        {% if forloop.counter == 1 %}
                            <img src="{{image.image.url}}" class="card-img-top" alt="card title" style="height: 12rem;">
                        {% endif %}
                    {% endfor %}
                    <div class="card-body">
                        <h5 class="card-title">{{gallery.title}}</h5>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="Modal_{{forloop.counter}}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" style="min-width: 70%;">
                    <div class="modal-content">
                        <div id="carouselControls_{{forloop.counter}}" class="carousel slide">
                            <div class="carousel-inner overflow-hidden">
                                {% for image in image %}
                                    <div class="carousel-item active">
                                        <img src="{{image.image.url}}" alt="" style="max-height: 80vh; width: 100%;">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls_{{forloop.counter}}" data-bs-slide="prev">
                                <div class="carousel-control-btn">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </div>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselControls_{{forloop.counter}}" data-bs-slide="next">
                                <div class="carousel-control-btn">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endwith %}
            <script defer>
                var myCarousel = document.querySelector('#carouselControls_{{forloop.counter}}')
                var myModalEl = document.getElementById('Modal_{{forloop.counter}}')

                myModalEl.addEventListener('show.bs.modal', function (event) {
                    const trigger = event.relatedTarget
                    var bsCarousel = bootstrap.Carousel.getInstance(myCarousel)
                    bsCarousel.to(trigger.dataset.bsSlideTo)
                })
            </script>
        {% endfor %}
    </div>
    <nav aria-label="Page navigation" class="page-nav">
        <ul class="pagination">
            {% if gallery.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{gallery.previous_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            <li class="page-item disabled">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">Page {{gallery.number}}  of {{gallery.paginator.num_pages}}</span>
                </a>
            </li>
            {% if gallery.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{gallery.next_page_number}}" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>   
{% endblock %}



<!--<div>
    <div class="gallery row row-cols-1 row-cols-md-2 row-cols-lg-4 g-2">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src={{message.image.url}} class="card-img-top" alt="card title">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src={{message.image.url}} class="card-img-top" alt="card title">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src={{message.image.url}} class="card-img-top" alt="card title">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src={{message.image.url}} class="card-img-top" alt="card title">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src={{message.image.url}} class="card-img-top" alt="card title">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src={{message.image.url}} class="card-img-top" alt="card title">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src={{message.image.url}} class="card-img-top" alt="card title">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src={{message.image.url}} class="card-img-top" alt="card title">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                </div>
            </div>
        </div>
    </div>
    
        <nav aria-label="Page navigation page-nav">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>-->