{% extends 'website/layout.html' %}
{% load static %}
{% block body %}
</div>
<section class="home-banner">
  <div class="banner-title">
    <h5>केन्द्रीय विद्यालय काठमांडू </h5>
    <h5>Kendriya Vidyalaya Kathmandu</h5>
    <h6>An Autonomous body under Ministry of Education Government of India</h6>
    <p class="cbse">CBSE Affiliation Number : 6200001,School code-90225</p>
  </div>
  <div class="logos-container">
    <div class="banner-logo">
      <img src="{% static 'website/azadi-logo.png' %}" alt="azadi-logo">
    </div>
    <div class="banner-logo">
      <img src="{% static 'website/G20.png' %}" alt="G20-logo">
    </div>
    <div class="banner-logo">
      <img src="{% static 'website/digital-india.png' %}" alt="digital-india-logo">
    </div>
    <div class="banner-logo">
      <img src="{% static 'website/swach-bharat.jpg' %}" alt="swach-bharat-logo">
    </div>
  </div>
</section>

<section class="top-section"> <!-- Gallery and about us -->
  <div id="homeGallery" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#homeGallery" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#homeGallery" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#homeGallery" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#homeGallery" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{carousel_image.image_1.url}}" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{carousel_image.image_2.url}}" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{carousel_image.image_3.url}}" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{carousel_image.image_4.url}}" class="d-block" alt="...">
      </div>
    </div>
      <button class="carousel-control-prev">
        <div class="carousel-control-btn" type="button" data-bs-target="#homeGallery" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </div>
      </button>
      <button class="carousel-control-next">
        <div class="carousel-control-btn" type="button" data-bs-target="#homeGallery" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </div>
      </button>
  </div>
  <div class="about">
    <h2 align="center" style="margin: 1rem;" class="fade-in">KV Kathmandu</h2>
    <p>
      Kendriya Vidyalaya, Embassy of India, Kathmandu, is one of the three Kendriya Vidyalayas located abroad and the
      other
      two are Moscow and in Tehran. These schools require the education of the children of employees working in Indian
      Missions and other bodies. It is a civil sector school.
    </p>
    <p>
      Kendriya Vidyalaya Kathmandu was established in the year 1973 under the Indian Cooperative Mission(ICM). The
      Embassy of
      India, Kathmandu has provided land for the school building in the embassy premises, and the building was
      constructed by
      the Kendriya Vidyalaya Sangathan. ICM closed down in the year 1980 and after that the school was managed by the
      Embassy
      of India, Kathmandu.
    </p>
  </div>
</section>
<div class="container-lg">
<section class="home-section thought-section">
  <hr class="thought-line">
  <div class="thought hidden">
    <p class="thought-quote" id="quote">{{quote}}</p>
    <p class="thought-auth" id="author">-{{author}}</p>
  </div>
  <hr class="thought-line">
</section>
<section class="home-section notice-section">
  <div class="notice">
    <h2 id="notice-heading" class="hidden">Notice</h2>
    <div class="notice-content">
      {% for notice in notice %}
      <a href="{{notice.file.url}}" target="_blank">
        <div class="notice-card hidden">
          <div class="notice-date">
            <span>{{notice.date|date:"d"}}</span>
            <span>{{notice.date|date:"F"}}</span>
          </div>
          <div class="notice-message">
            <p class="notice-title text-wrap"  style="margin: 0;">{{notice.title}}</p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
  <img src="{% static 'website/nepal_india_flag.png' %}" alt="" class="notice-space-img">
</section>
<section class="home-section">
  <div class="stat-content hidden">
    <div class="stat-card">
      <i class="fa-solid fa-star"></i>
      <h2>50+</h2>
      <p>Years of Excellence</p>
    </div>
    <div class="stat-card">
      <i class="fa-solid fa-chalkboard-user"></i>
      <h2>25+</h2>
      <p>Teachers</p>
    </div>
    <div class="stat-card">
      <i class="fa-solid fa-user-graduate"></i>
      <h2>500+</h2>
      <p>Enrolled Students</p>
    </div>
  </div>
<!-- Facilities -->
  <h2 class="hidden" align="center">Facilites</h2>
  <div class="facilities">
    <div class="row row-cols-1 row-cols-md-2 g-3 mb-1">
      <div class="col">
        <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right"
          data-bs-title="Physics Lab"
          data-bs-content="The Physics department of KV, Kathmandu is fully equipped with scientific instruments and facilities for experiments, projects, and innovative work. Students can learn physics concepts through hands-on activities, and a small library offers science and physics books for reference.">
          <div class="faci-item hidden">
            <div class="faci-icon">
              <i class="fa-solid fa-compass-drafting"></i>
            </div>
            <div class="faci-title">
              <h5>Physics Lab</h5>
            </div>
            <div class="faci-description d-inline-block text-truncate">
              <p>The Physics department offers facilities for hands-on learning, experiments, and projects.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right"
          data-bs-title="Chemistry Lab"
          data-bs-content="In our well-equipped chemistry lab, the main objective is to equip our students with the necessary skills to pursue chemistry in higher academic and professional courses. Through practicals and projects, students develop problem-solving abilities, gain exposure to industrial processes and technological applications, and cultivate a genuine interest in chemistry.">
          <div class="faci-item hidden">
            <div class="faci-icon">
              <i class="fa-solid fa-flask"></i>
            </div>
            <div class="faci-title">
              <h5>Chemistry Lab</h5>
            </div>
            <div class="faci-description d-inline-block text-truncate">
              <p>The Chemistry lab promotes practical learning, and a creates genuine interest in the subject.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right"
          data-bs-title="Biology Lab"
          data-bs-content="KV Kathmandu's Biology lab is fully equipped with scientific instruments, chemicals, a human skeleton, and an ample number of specimens. It provides all necessary facilities for conducting experiments in secondary and senior secondary classes. The lab also features a computer with internet connectivity to cater to the students' needs.">
          <div class="faci-item hidden">
            <div class="faci-icon">
              <i class="fa-solid fa-dna"></i>
            </div>
            <div class="faci-title">
              <h5>Biology Lab</h5>
            </div>
            <div class="faci-description d-inline-block text-truncate">
              <p>The Biology lab showcases specimens and a human skeleton, supporting biology studies.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right"
          data-bs-title="Computer Lab"
          data-bs-content="Our Vidyalaya boasts two computer labs: the Junior Computer Lab and the Senior Computer Lab. These labs are equipped with a total of 62 computers, along with essential peripherals such as an LCD projector, scanner, and UPSs.">
          <div class="faci-item hidden">
            <div class="faci-icon">
              <i class="fa-solid fa-computer"></i>
            </div>
            <div class="faci-title">
              <h5>Computer Lab</h5>
            </div>
            <div class="faci-description d-inline-block text-truncate">
              <p>Our Vidyalaya has two computer labs with 62 computers and essential peripherals.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right"
          data-bs-title="Library"
          data-bs-content="The school library has more than 15,000 books varying from text books, reference books, dictionaries, children’s books, fiction and non-fiction. All the students of the school are members of the library. Two books can be borrowed at a time. It has a computer too.">
          <div class="faci-item hidden">
            <div class="faci-icon">
              <i class="fa-solid fa-book-open"></i>
            </div>
            <div class="faci-title">
              <h5>Library</h5>
            </div>
            <div class="faci-description d-inline-block text-truncate">
              <p>The school library provides a wide range of books and features a computer.</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right"
          data-bs-title="e-Class Rooms"
          data-bs-content="Seven Classrooms are well equipped with LCD Projectors,Desktop Computers and Display Screen">
          <div class="faci-item hidden">
            <div class="faci-icon">
              <i class="fa-solid fa-chalkboard"></i><!--supposed to be a smart board-->
            </div>
            <div class="faci-title">
              <h5>e-Class Rooms</h5>
            </div>
            <div class="faci-description d-inline-block text-truncate">
              <p>Several classrooms are equipped with LCD projectors, desktop computers, and display screens.</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
</div>
<section class="home-section">
  <h2 align="center" class="hidden">Events</h2>
  <div id="event-container" class="event-container">
    {% for events in events %}
      {% with image=events.images.all %}
      <div class="card hidden" style="width: 20rem; height: 28rem;">
        {% for image in image %}
        {% if forloop.counter == 1 %}
        <img src="{{image.image.url}}" class="card-img-top" alt="Event Image" style="height: 12rem; width: auto;">
        {% endif %}
        {% endfor %}
        <div class="card-body">
          <h5 class="card-title text-wrap">{{events.title}}</h5>
          <p class="card-text text-truncate pb-2">
            {{events.description}}
          </p>
          <a href="{% url 'show_event' pk=events.id %}" class="btn btn-primary mt-4">Learn more...</a>
        </div>
      </div>
    {% endwith %}
    {% endfor %} 
  </div>
  <div class="progress-container" style="background-image: url({% static 'website/background5.jpg' %}); background-repeat:no-repeat; background-size: 100%; background-height: 100%"><div id="progress-bar"></div></div>

</section>
<div class="container-lg">
<section class="home-section map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3531.7653678506645!2d85.3217764!3d27.7245298!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1919099d583b%3A0xec53ba3468ef10b7!2sKendriya%20Vidyalaya%20Kathmandu!5e0!3m2!1sen!2snp!4v1685198837897!5m2!1sen!2snp" width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
{% endblock %}