{% extends 'website/layout.html' %}
{% block body %}

<h1 class="fade-in">Staff Members</h1>
<div class="table-responsive text-nowrap fade-in-up">
    <table class="table data-table">
        <thead>
            <tr>
                <th scope="col">S.no</th>
                <th scope="col">Name</th>
                <th scope="col">Origin</th>
                <th scope="col">Designation</th>
            </tr>
        </thead>
            <tbody>
                {% for members in members %}
                {% if members.image %}
                
                <tr tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="left"  data-bs-content="{{members.image.url}}">
                    <td scope="row">{{forloop.counter}}.</td>
                    <td>{{members.name}}</td>
                    <td>{{members.origin}} </td>
                    <td>{{members.get_designation_display}}</td><!-- the get_designation_display shows the display name of the choice rather than the computer name of the choice mentioned in models-->
                    
                </tr>
                    <img src="{{members.image.url}}">
                {% endif %}
                
                {% endfor %}
            </tbody>
    </table>
{% endblock %}