{% extends 'website/layout.html' %}
{% block body %}
<!--
todo order of designatin fixed eg- principal on top always
-->
<h1 class="fade-in">Staff Members</h1>
<div class="table-responsive text-nowrap fade-in-up">
    <table class="table data-table">
        <thead>
            <tr>
                <th scope="col">S.no</th>
                <th scope="col">Name</th>
                <th scope="col">Origin</th>
                <th scope="col">Designation</th>
            </tr>
        </thead>
            <tbody>
                {% for members in members %}
                <tr>
                    <td scope="row">{{forloop.counter}}.</td>
                    <td>{{members.name}}</td>
                    <td>{{members.origin}} </td>
                    <td>{{members.get_designation_display}}</td>
                    
                </tr>
                {% if members.image %}
                    <img src="{{members.image.url}}">
                {% endif %}
                {% endfor %}
            </tbody>
    </table>
{% endblock %}