{% extends 'website/layout.html' %}
{% block body %}
    <h1 class="fade-in">Holidays</h1>
    <div class="table-responsive text-nowrap fade-in-up">
        <table class="data-table table">
            <thead>
                <tr>
                    <th scope="col">S.no</th>
                    <th scope="col">Holiday</th>
                    <th scope="col">Date</th>
                </tr>
                
            </thead>
            <tbody>
                {% for holiday in holiday %}
                <tr>
                    <td scope="row">{{forloop.counter}}</td>
                    <td>{{holiday.name}}</td>
                    <td>{{holiday.start_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="table-responsive text-nowrap fade-in-up">
        <table class="table data-table">
            <thead>
                <tr>
                    <th scope="col">Vacation</th>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Summer</th>
                    {% for holiday in summer_vacation %}
                        <td>{{holiday.start_date}}</td>
                        <td>{{holiday.end_date}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row">Autumn</th><!--make it iterable -->
                {% for holiday in autum_vacation %}
                    <td>{{holiday.start_date}}</td>
                    <td>{{holiday.end_date}}</td>
                {% endfor %}
                </tr>
                <tr>
                    <th scope="row">Winter</th><!--make it iterable -->
                {% for holiday in winter_vacation %}
                    <td>{{holiday.start_date}}</td>
                    <td>{{holiday.end_date}}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}