{% extends 'website/layout.html' %}
{% block body %}
    {% for holiday in holiday %}
        <a href="{{holiday.file.url}}">holiday</a>
    {% endfor %}
    <div class="table-responsive text-nowrap">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-light">
                <tr>
                    <th scope="col ">S.no</th>
                    <th scope="col">Holiday</th>
                    <th scope="col">Date</th>
                </tr>
                {% for holiday in holiday %} 
                    <tr>
                        <th>{{forloop.counter}}</th>
                        <th>{{holiday.name}}</th>
                        <th>{{holiday.start_date}}</th>
                    </tr>
                {% endfor %}
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-light">
                <tr>
                    <th scope="col">Vacation</th>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Summer</th>
                    {% for holiday in summer_vacation %}
                        <td>{{holiday.start_date}}</td>
                        <td>{{holiday.end_date}}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th scope="row">Autumn</th><!--make it iterable -->
                {% for holiday in autum_vacation %}
                    <td>{{holiday.start_date}}</td>
                    <td>{{holiday.end_date}}</td>
                {% endfor %}
                </tr>
                <tr>
                    <th scope="row">Winter</th><!--make it iterable -->
                {% for holiday in winter_vacation %}
                    <td>{{holiday.start_date}}</td>
                    <td>{{holiday.end_date}}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}