{% extends 'website/layout.html' %}
{% load static %}
{% block body %}
<!-- <section class="home-banner">
  <div class="banner-logo">
    <img src="{% static 'website/bannerlogo.png' %}" alt="logo">
  </div>
  <div class="banner-title">
    <h5>केन्द्रीय विद्यालय काठमांडू </h5>
    <h5>Kendriya Vidyalaya Kathmandu</h5>
    <h6>An Autonomous body under Ministry of Education Government of India</h6>
    <div class="cbse">CBSE Affiliation Number : 6200001,School code-90225</div>
  </div>
</section> -->
<section> <!-- Gallery -->
  <div id="homeGallery" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#homeGallery" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#homeGallery" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#homeGallery" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#homeGallery" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{carousel_image.image_1.url}}" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{carousel_image.image_2.url}}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{carousel_image.image_3.url}}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
         <img src="{{carousel_image.image_4.url}}" class="d-block w-100" alt="...">
      </div>
    </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#homeGallery" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#homeGallery" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
  <div class="gallery-link">
      <a href="{% url 'gallery'%}?page=1">Gallery&#8594;</a>
    </form>
   
  </div>
</section>
<section class="home-section about-section">
  <div class="row">
    <div class="about col-md-8">
      <h3>About KV Kathmandu</h3>
      <img src="{% static 'website/school_building.jpg' %}" alt="">
      <p>
        Kendriya Vidyalaya, Embassy of India, Kathmandu, is one of the three Kendriya Vidyalayas located abroad and the
        other
        two are Moscow and in Tehran. These schools require the education of the children of employees working in Indian
        Missions and other bodies. It is a civil sector school.
      </p>
      <p>
        Kendriya Vidyalaya Kathmandu was established in the year 1973 under the Indian Cooperative Mission(ICM). The
        Embassy of
        India, Kathmandu has provided land for the school building in the embassy premises, and the building was
        constructed by
        the Kendriya Vidyalaya Sangathan. ICM closed down in the year 1980 and after that the school was managed by the
        Embassy
        of India, Kathmandu.
      </p>
      <p>
        The Ambassador of India to Nepal is its patron and the deputy chief of mission is the ex-offical chairman of the
        school
        management committee. It is a single block school and science and commerce education is available at + 2 level.
      </p>
    </div>
    <div class="notice col-md-4">
      <h3>Notice</h3>
      <div class="notice-content">
        {% for notice in notice %}
        <a href="{{notice.file.url}}">{{notice.title}}</a>
        <br>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<hr>
<section class="home-section">
  <div><!--todo auto update thoughts-->
    <h3>Thought of the day</h3>
    <p class="thought" id="quote">{{quote}}</p>
    <p class="thought-auth" id="author">{{author}}</p>
  </div>
  <div class="school-goals">
    <h3>School Goals</h3>
    <ol type="1">
      <li>Providing personality building education</li>
      <li>Provide students with the opportunity for overall development</li>
      <li>To reinforce the values ​​of life in the society with high moral, social and cultural values.</li>
      <li>To develop the quality of global citizenship in the students with national ethos</li>
    </ol>
  </div>
</section>
<hr>
<section class="home-section">
  <div class="stat-content">
    <div class="stat-card">
      <i class="fa-solid fa-star"></i>
      <h2>50+</h2>
      <p>Years of Excellence</p>
    </div>
    <div class="stat-card">
      <i class="fa-solid fa-chalkboard-user"></i>
      <h2>25+</h2>
      <p>Teachers</p>
    </div>
    <div class="stat-card">
      <i class="fa-solid fa-user-graduate"></i>
      <h2>500+</h2>
      <p>Enrolled Students</p>
    </div>
  </div>
</section>
<section class="home-section"><!-- Facilities -->
  <div class="facilities">
    <div class="row row-cols-1 row-cols-md-2 g-3 mb-1">
      <div class="col">
        <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right"
          data-bs-title="faci title"
          data-bs-content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum velit alias asperiores doloremque itaque, mollitia at laboriosam officiis dolorem, dolore quisquam praesentium, laborum consequuntur dicta!">
          <div class="faci-item">
            <div class="faci-icon">
              <i class="fa-solid fa-info"></i>
            </div>
            <div class="faci-title">
              <h5>faci title</h5>
            </div>
            <div class="faci-description d-inline-block text-truncate">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, dicta!</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right"
          data-bs-title="faci title"
          data-bs-content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum velit alias asperiores doloremque itaque, mollitia at laboriosam officiis dolorem, dolore quisquam praesentium, laborum consequuntur dicta!">
          <div class="faci-item">
            <div class="faci-icon">
              <i class="fa-solid fa-info"></i>
            </div>
            <div class="faci-title">
              <h5>faci title</h5>
            </div>
            <div class="faci-description d-inline-block text-truncate">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, dicta!</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right"
          data-bs-title="faci title"
          data-bs-content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum velit alias asperiores doloremque itaque, mollitia at laboriosam officiis dolorem, dolore quisquam praesentium, laborum consequuntur dicta!">
          <div class="faci-item">
            <div class="faci-icon">
              <i class="fa-solid fa-info"></i>
            </div>
            <div class="faci-title">
              <h5>faci title</h5>
            </div>
            <div class="faci-description d-inline-block text-truncate">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, dicta!</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right"
          data-bs-title="faci title"
          data-bs-content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum velit alias asperiores doloremque itaque, mollitia at laboriosam officiis dolorem, dolore quisquam praesentium, laborum consequuntur dicta!">
          <div class="faci-item">
            <div class="faci-icon">
              <i class="fa-solid fa-info"></i>
            </div>
            <div class="faci-title">
              <h5>faci title</h5>
            </div>
            <div class="faci-description d-inline-block text-truncate">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, dicta!</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right"
          data-bs-title="faci title"
          data-bs-content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum velit alias asperiores doloremque itaque, mollitia at laboriosam officiis dolorem, dolore quisquam praesentium, laborum consequuntur dicta!">
          <div class="faci-item">
            <div class="faci-icon">
              <i class="fa-solid fa-info"></i>
            </div>
            <div class="faci-title">
              <h5>faci title</h5>
            </div>
            <div class="faci-description d-inline-block text-truncate">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, dicta!</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="right"
          data-bs-title="faci title"
          data-bs-content="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum velit alias asperiores doloremque itaque, mollitia at laboriosam officiis dolorem, dolore quisquam praesentium, laborum consequuntur dicta!">
          <div class="faci-item">
            <div class="faci-icon">
              <i class="fa-solid fa-info"></i>
            </div>
            <div class="faci-title">
              <h5>faci title</h5>
            </div>
            <div class="faci-description d-inline-block text-truncate">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, dicta!</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="home-section map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3531.7653678506645!2d85.3217764!3d27.7245298!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1919099d583b%3A0xec53ba3468ef10b7!2sKendriya%20Vidyalaya%20Kathmandu!5e0!3m2!1sen!2snp!4v1685198837897!5m2!1sen!2snp" width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
{% endblock %}