{% extends 'website/layout.html' %}
{% load static %}
{% block body %}
<section class="home-banner">
  <div class="banner-logo">
    <img src="{% static 'website/bannerlogo.png' %}" alt="logo">
  </div>
  <div class="banner-title">
    <h5>केन्द्रीय विद्यालय काठमांडू </h5>
    <h5>Kendriya Vidyalaya Kathmandu</h5>
    <h6>An Autonomous body under Ministry of Education Government of India</h6>
    <div class="cbse">CBSE Affiliation Number : 6200001,School code-90225</div>
  </div>
</section>
<section> <!-- Gallery -->
  <div class="gallery-link">
    <a href="{% url 'gallery'%}">Gallery&#8594;</a>
  </div>
  <div id="carouselGallery" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselGallery" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselGallery" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselGallery" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselGallery" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
         <img src="..." class="d-block w-100" alt="...">
      </div>
    </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselGallery" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselGallery" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
</section>
<section class="home-section"> <!-- Facilities -->
  <div class="stat-content">
    <div class="stat-card">
      <i class="fa-solid fa-star"></i>
      <h2>50+</h2>
      <p>Years of Excellence</p>
    </div>
    <div class="stat-card">
      <i class="fa-solid fa-chalkboard-user"></i>
      <h2>25+</h2>
      <p>Teachers</p>
    </div>
    <div class="stat-card">
      <i class="fa-solid fa-user-graduate"></i>
      <h2>500+</h2>
      <p>Enrolled Students</p>
    </div>
  </div>
</section>
<section class="home-section map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3531.7653678506645!2d85.3217764!3d27.7245298!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1919099d583b%3A0xec53ba3468ef10b7!2sKendriya%20Vidyalaya%20Kathmandu!5e0!3m2!1sen!2snp!4v1685198837897!5m2!1sen!2snp" width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

{% endblock %}