{% extends 'website/layout.html' %}
{% block body %}
<!-- {% for notice in notice_data %}
    {{notice.title}}
    {{notice.description}}
    <a href="{{notice.file.url}}">hi</a>
{% endfor %}-->
<h1>Events</h1>
{% for event in event %}
<a href="{% url 'show_event' pk=event.id %}">
    {{event.title}} 
    {{event.description}}
    {% with image=event.images.all %}
    {% for image in image %}
        {% if forloop.counter == 1 %}
            {{image.image.url}}
        {% endif %}
    {% endfor %} 
    {% endwith %}
</a>
{% endfor %}
{% endblock %}

<!--<div class="gallery row row-cols-1 row-cols-md-2 row-cols-lg-4 g-2">
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{message.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Event title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p><!--few lines of the details should only be visible
                <a href="#" class="btn btn-primary">Learn more..</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{message.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Event title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p><!--few lines of the details should only be visible
                <a href="#" class="btn btn-primary">Learn more..</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{message.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Event title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p><!--few lines of the details should only be visible
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{message.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Event title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p><!--few lines of the details should only be visible
                <a href="#" class="btn btn-primary">Learn more..</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{message.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Event title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p><!--few lines of the details should only be visible
                <a href="#" class="btn btn-primary">Learn more..</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{message.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Event title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p><!--few lines of the details should only be visible
                <a href="#" class="btn btn-primary">Learn more..</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{message.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Event title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p><!--few lines of the details should only be visible
                <a href="#" class="btn btn-primary">Learn more..</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{message.image.url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Event title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p><!--few lines of the details should only be visible
                <a href="#" class="btn btn-primary">Learn more..</a>
            </div>
        </div>
    </div>
</div>

<nav aria-label="Page navigation page-nav">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>--> 