{% extends 'website/layout.html' %}
{% block body %}
<!--
    todo backwards serial number
    todo use javascript for search
    todo latest entry at top
    todo 150 names in a page
    todo add pagination
    backend
        todo list should be in last come first order(new at the top)
        todo add more classes
        todo able to search from all data of table
-->
    <h1>Transfer Certificate Issued</h1>
    <form action="{% url 'tc_issued' %}" method="post" align="right" style="margin: 1rem">
        {% csrf_token %}
        <div class="input-group">
            <div class="form-outline">
                <input id="search-input" type="search" id="form1" class="form-control" name="name" placeholder="Search Using Name">
            </div>
            <button id="search-button" type="submit" value="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
    {% for tc in tc_search %} 
        {{tc.name}}
        {{tc.parents_name}} 
        {{tc.issue_date}}
        {{tc.Class_left}}
    {% endfor %}
    <div class="table-responsive text-nowrap">
        <table class="table table-hover table-bordered">
            <thead class="table-light">
                <tr>
                    <th scope="col">S.no</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Parents Name</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Adm.No</th>
                    <th scope="col">Class Left</th>
                    <th scope="col">Tc No.</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {% for tc in tc %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{tc.name}}</td>
                    <td>{{tc.parents_name}}</td>
                    <td>{{tc.date_of_birth}}</td>
                    <td>{{tc.Admission_number}}</td>
                    <td>{{tc.Class_left}}</td>
                    <td>{{tc.TC_no}}</td>
                    <td>{{tc.issue_date}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        const searchFocus = document.getElementById('search-focus');
            const keys = [
                { keyCode: 'AltLeft', isTriggered: false },
                { keyCode: 'ControlLeft', isTriggered: false },
            ];
            window.addEventListener('keydown', (e) => {
                keys.forEach((obj) => {
                    if (obj.keyCode === e.code) {
                        obj.isTriggered = true;
                    }
                });
                const shortcutTriggered = keys.filter((obj) => obj.isTriggered).length === keys.length;
                if (shortcutTriggered) {
                    searchFocus.focus();
                }
            });
            window.addEventListener('keyup', (e) => {
                keys.forEach((obj) => {
                    if (obj.keyCode === e.code) {
                        obj.isTriggered = false;
                    }
                });
            });
    </script>
{% endblock %}