{% extends 'website/layout.html' %}
{% block body %}
    {% if vacant %}
        <h1>Vacancy</h1>
       <table class="table table-striped table-hover table-bordered">
            <thead class="table-light">
                <tr>
                    <th scope="col">S.no</th>
                    <th scope="col">Vacant Designation</th>
                    <th scope="col">Vacant Positions</th>
                </tr>
            </thead>
            <tbody>
                {% for vacancy in vacancy %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{vacancy.vacant_designation}}</td>
                    <td>{{vacancy.number}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="no-vacant-container">
            <h3 id="no-vacant">No Vacancy</h3>
        </div>
    {% endif %}
{% endblock %}