{% extends 'website/layout.html' %}
{% block body %}
<h1>Vidyalaya Management Committee Members</h1>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="table-light ">
            <tr class="table-info">
                <th scope="col">S.no</th>
                <th scope="col">Name</th>
                <th scope="col">Post</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
            {% for members in members %}
            <tr>
                <td scope="row">{{forloop.counter}}.</td>
                <td>{{members.name}}</td>
                <td>{{members.post}}</td>
                <td style="overflow-wrap: break-word;">{{members.address}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}