$primary: #FA8072 //salmon
$primary-light: #FB9183
$secondary: #e89209
$tertiary: #FFDD65
$header: #f1f1f1
//body styles
*
    padding: 0px
    margin: 0px

html, body
  height: 100%

body
    background-color: #fff
    display: flex
    flex-direction: column
    font-family: 'Montserrat', sans-serif

body 
  &::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
    border-radius: 10px
    background-color: #F5F5F5
  &::-webkit-scrollbar
    width: 0.5vw
    background-color: #F5F5F5
  &::-webkit-scrollbar-thumb
    border-radius: 10px
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
    background-color: #555

h1,h2,h3
    color: $secondary
    font-family: 'Philosopher', serif
    font-weight: bold

.heading
    position: absolute
    right: 50%

.content
    position: relative

//navbar styles
.header
    width: 100%
    position: relative
    font-size: 1.25rem
    min-height: 80px
    z-index: 1
    padding: 0 8rem

.background-light
    background-color: #e0dfdf93

.nav-link
    position: relative
    white-space: nowrap
    &::after
        height: 1px
        width: 100%
        color: $tertiary
        position: absolute
        left: 0px
        bottom: 0px
        transition: ease 0.5s
        pointer-events: none
        opacity: 0
    &:hover::after
        opacity: 1
        >a
            color: #fff

.dropdown-menu
    width: 15rem
    border-radius: 11px
    transform: translateY(-10px)
    animation: fade-in 300ms forwards
    transition: ease-in-out 300ms
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3)

.banner
    img
        height: 5rem

.dropdown-item
    font-weight: 500
    &:hover 
        background-color: $tertiary
        color: #fff

.dropdown .dropdown-menu 
    background-color: $header

.dropdown:hover > .dropdown-menu,.dropend:hover > .dropdown-menu 
    display: block
    margin-top: 0rem
    margin-left: 0.125rem

@media screen and (min-width: 992px)
    .dropend:hover > .dropdown-menu 
        position: absolute
        top: 0
        left: 100%
    .dropend .dropdown-toggle 
        margin-left: 0em

//to top button
.scroll-to-top
    position: fixed
    height: 60px
    width: 60px
    background-color: #717171db
    z-index: 5000
    bottom: 30px
    right: 60px
    border-radius: 50%
    font-size: 2rem
    color: #fff
    border-color: #fff
    border: 2px solid
    i
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)
    &:hover
        background-color: #262222bd
        cursor: pointer

//footer styles
footer
    background-color: #000000bc
    position: relative
    color: #000000
    margin-top: auto
    height: auto
    .background-dark
        padding: 2rem
        background-color: #747474bc
    i
        float: left
        margin: 5px
    a
        text-decoration: none
        color: inherit
    h3
        color: inherit
    img
        margin-top: 2vh
        padding: 0
    span:hover
        color: $tertiary
    button
        margin-bottom: 10px

.form_group
    margin: 5px 10px
    padding: 5px 5px
    margin: auto

.g-recaptcha
    margin: 0
    padding: 0
    overflow: auto
    overflow-y: hidden

.footer-contact
    padding: 5px 10px

.footer-mail
    word-wrap: break-word

.form-group
    margin-bottom: 15px

.links
    display: grid
    justify-content: center

.credit
    position: relative
    background-color: #484747
    color: #fff
    display: grid
    justify-content: center
    height: 50px
    p
        margin: 0.5rem
        
    form>button
        position: absolute
        right: 10%
        top: 0
        margin: 0.5rem
    a
        text-decoration: underline
        color: #7676fb

//body styles
main
    position: relative

//home page styles
.home-section
    margin: 2rem 0
    padding: 1.2rem 0

.home-banner
    min-height: 8rem
    color: #000
    position: relative
    display: flex
    justify-content: start
    margin: 10px

.logos-container
    margin-left: auto
    display: flex
    
.banner-logo
    margin: 10px
    img
        height: 5rem

.banner-title
    font-weight: bold
    padding: 0.5rem 1rem
    h5
        font-size: 1.5rem
        color: inherit  
    h6
        font-size: 1rem
        color: #c9a740

.top-section
    display: flex
    justify-content: space-evenly

//about us
.about
    margin: 1.5rem
    text-align: left
    flex-shrink: 1
    min-width: 300px
    overflow-wrap: normal
    padding: 1rem
    font-size: 1.2rem

#homeGallery, #eventGallery
    $height: 60%
    height: $height
    background-color: #6f6f6f00
    img
        margin: 0 auto
        height: $height
        object-fit: cover

#homeGallery
    flex-shrink: 2
    width: 100%

.carousel-control-btn
    background-color: #0000006b
    height: 70px
    width: 70px
    position: relative
    border: 3px solid #fff
    border-radius: 50%
    span
        position: relative
        top: 50%
        transform: translateY(-50%)

//thought
.thought-section
    margin: 8rem 0

.thought
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    padding: 2rem
    font-size: 1.2rem

.thought-quote
    font-size: 2.5em
    font-family: 'Tangerine', serif
    
.thought-auth
    font-style: italic

.thought-line
    height: 2px
    margin: 5%
    
.school-goals
    margin: 3rem
    margin-bottom: 5rem
    i
        font-size: 2rem
        color: #6592e6
        margin: 0.25rem
        margin-left: 1rem
    li
        font-size: 1rem
        margin: 0.5rem
        
.notice
    width: 80%
    h3
        text-align: center

.about-section
    position: relative
    display: flex
    justify-content: space-around
    align-items: center
    padding: 2rem
    margin: 5rem 0

#notice-heading
    position: absolute
    top: -10%
    left: 50%

.notice-content
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    a
        text-decoration: none
        color: $secondary
        text-transform: capitalize
    
.notice-space-img
    height: 15vw
    opacity: 0.2

.notice-card
    position: relative
    font-size: 1.2rem
    color: $secondary
    margin: 0.7rem 0

.notice-date
    position: absolute
    background-color: $secondary
    color: white
    font-size: 1rem
    text-align: center
    height: 70px
    width: 70px
    padding: 0.5rem
    transform: translateY(25%)
    display: grid
    span:nth-child(1)::after
        content: ''
        align-items: center
        border: 1px solid #fff
        display: block
        width: 30px
        margin: 0 auto

.notice-message
    margin-left: 35px
    background-color: #efefef
    min-height: 100px
    padding: 1rem
    padding-left: 60px
    word-wrap: break-word

.stat-content
    display: flex
    justify-content: space-evenly
    background-color: $primary
    color: #fff
    padding: 10px
    border-radius: 15px
    margin-bottom: 4rem
    
.stat-card
    display: flex
    flex-direction: column
    padding: 15px
    margin: 10px
    min-width: 20%
    border-radius: 15px
    transition: ease-in 1000ms forwards
    >i,h2,p
        align-self: center
    i
        transition: ease-in 1000ms forwards
        font-size: max(50px, 3vw)
        padding: 5px
            
    h2
        font-weight: bold
        color: inherit
        font-family: sans-serif
    p
        text-align: center
        margin-top: 10px
        font-size: 1.3rem
    &:hover
        background-color: $primary-light
        i
            transform: translateY(-5px)

.facilities
    button
        border: none
    margin: 2rem
    

.faci-item
    position: relative
    background-color: #efefef
    display: grid
    grid-template-columns: 30px auto 
    grid-template-rows: 1.3rem 2rem 
    padding: 10px
    margin: 5px
    column-gap: 8px
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1)
    text-overflow: ellipsis
    border-radius: 15px
    &:hover
        background-color: #dadada

.faci-icon
    position: absolute
    top: 50%
    background-color: #fff
    display: flex
    justify-content: center
    align-content: center
    height: 2rem
    width: 2rem
    border-radius: 50%
    padding: 5px
    padding-top: 7px
    grid-area: 1 / 1 / 2

.faci-title
    grid-area: 1 / 2 / 2 
    padding-top: 0.2rem
    text-align: left

.faci-description
    font-size: 0.8rem
    padding-top: 0.5rem
    grid-area: 2 / 2 / 3

.event-container
    position: relative
    display: flex
    width: 100%
    overflow-x: hidden
    overflow-y: hidden
    white-space: nowrap
    cursor: grab
    gap: 1rem
    &:active
        cursor: grabbing
    .card
        display: grid
        margin: 1rem
        padding: 1rem
        grid-template-rows: min-content
        background-color: #f5f5f5
        flex-shrink: 0
        //box-shadow: none
        //border: none
        // &:hover
        //     transform: translate(0)
        //     box-shadow: none
        &-body
            width: 18rem

.map //homepage bottom map
    display: flex
    justify-content: space-around
    margin: 1rem

//gallery & events
.gallery
    position: relative
    display: flexbox

.page-nav
    display: flex
    justify-content: end
    margin: 1rem

.card
    margin: 1.25rem
    position: relative
    background-color: #f4f4f4
    border: none
    user-select: none
    &:hover
        transform: translate(0)
        box-shadow: none
    p
        margin: 0.2rem
    &-title
        color: $secondary
        text-transform: capitalize
        margin: 0.5rem
        font-size: 1.3em
    &-body
        margin: 0.2rem
    a
        position: absolute
        bottom: 10px
        margin: 0.5rem 0 2rem 0.2rem
        border-radius: 40px

.event-img
    height: 50vw
    object-fit: cover
    
.event-desc-container
    padding: 5%
    margin: 0.5rem 1rem

.event-description
    font-size: 1.3rem
    margin: 2rem

.page-nav
    position: relative
    bottom: -1px

.about-container
    margin: 3rem 0px
    padding: 1.2rem
    font-size: 1.1rem

.about-img
   height: 30vw
   position: relative
   left: 50%
   transform: translateX(-50%)
   margin: 10px

//table
table
    margin: auto
    text-transform: capitalize
    position: relative

.data-table
    $table-color: $secondary
    border-collapse: collapse
    margin: 25px 0
    font-family: sans-serif
    min-width: 400px
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)
    th
        text-align: center
        &:nth-child(1)
            text-align: left
    thead tr
        background-color: $table-color
        color: #ffffff
        text-align: left
    th, td
        padding: 0.7rem 1rem
    tbody tr 
        border-bottom: 1px solid #dddddd
        &:nth-of-type(even) 
            background-color: #f3f3f3
        &:last-of-type 
            border-bottom: 2px solid $table-color
        &:hover
            color: $table-color

.no-effects
    tbody tr
        &:hover
            color: inherit
        &:nth-of-type(even) 
            background-color: #ffffff

//vacancy page
.no-vacant-container
    height: 10vh
    position: relative

#no-vacant
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%)

//TC issued
.input-group
    display: flex
    justify-content: flex-end
    margin: 1.2rem

#search-button
    border-radius: 0 10px 10px 0

#tc-reload
    margin-left: 5px
    border-radius: 10px

//contact us
.contact-container
    display: grid
.contact
    position: relative
    place-self: center
    border-collapse: collapse
    margin: 5rem 1rem
    width: 10px
    td,th
        padding: 1rem
        border: 1px solid

//notice page
.notice-container
    padding: 0 5rem
    .notice-card
        height: auto
    a
        text-decoration: none
        color: inherit
        text-transform: capitalize
    p
        overflow-wrap: break-word
        color: #000
        margin: 1.2rem 2rem
        font-size: 1rem
    .notice-title
        margin: 0 2rem
    
.alumni_form
    position: relative
    left: 50%
    transform: translateX(-50%)
    margin: 2rem

.achievement
    background-color: #f4f4f4
    margin: 2rem 0
    padding: 1.5rem
    width: 100%
    border-radius: 5px
    h2
        text-transform: capitalize
    .achiv-body
        display: flex
        .achiv-description-container
            display: block
    img
        width: 30rem
        margin: 1rem
    p
        margin: 1rem 0

    &:nth-child(odd)
        div
            flex-direction: row-reverse
            justify-content: space-between
        
.hidden
    opacity: 0
    transform: translateY(100px)

//animation class
.fade-in-up
    opacity: 0
    animation: fadeInUp 800ms forwards

.fade-in
    animation: fade-in 500ms ease-in forwards

.float-up
    animation: FloatUp 100ms ease forwards

@media screen and ( max-width: 992px)
    .footer-logo //remove footer logo for smaller screens
        display: none
    .banner-logo
        img
            height: 9rem
    .notice-space-img
        display: none
    .stat-content
        flex-direction: column
        width: 80%
        margin: auto
    .thought
        font-size: 1rem
    .about-img
        width: 80%
        height: auto
    .credit
        font-size: 0.6rem
        button
            display: none
    .carousel-control-btn
        display: none
    .home-banner
        margin: 0px
        font-size: 10px
        padding: 5px
        text-justify: auto
        h5
            font-size: 1.2rem
        img
            height: 3rem
    .achievement
        div
            display: flex
            flex-direction: column
            img
                align-self: center
                width: 50vw
        &:nth-child(odd)
            div
                flex-direction: column
    .map
        margin: 0rem
    .contact-container
        width: 1vw
    
@media screen and (max-width: 1420px)
    .top-section
        flex-direction: column
    #homeGallery
        width: 100%
        $height-phone: 65%
        height: $height-phone
        img
            height: $height-phone
            width: 100%
    .carousel-control-btn
        height: 40px
        width: 40px
    .notice-card
        width: 100%
    .header
        padding: 0 2rem
    .event-description
        margin: 0.5rem
    .home-banner
        flex-direction: column
        word-wrap: none
        .logos-container
            margin-right: auto
            width: 80%
            justify-content: space-evenly

//animation keyframes
@keyframes fade-in
    0%
        opacity: 0
    100%
        opacity: 1
        transform: translateY(0px)

@keyframes fadeInUp 
    0%
        opacity: 0
        -webkit-transform: translateY(100px)
        transform: translateY(100px)
    100%
        opacity: 1
        -webkit-transform: translateY(0)
        transform: translateY(0)

@keyframes FloatUp 
    0%
        transform: translateY(100px)
    100%
        transform: translateY(0px)