$primary: #FA8072 //salmon
$primary-light: #FB9183
$secondary: #e89209
$tertiary: #FFDD65//E1BC29
//body styles
*
    padding: 0px
    margin: 0px

html, body
  height: 100%

body
    font-size: 16px
    background-color: #fff//#efefef
    display: flex
    flex-direction: column

body 
  &::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
    border-radius: 10px
    background-color: #F5F5F5

  &::-webkit-scrollbar
    width: 0.5vw
    background-color: #F5F5F5

  &::-webkit-scrollbar-thumb
    border-radius: 10px
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3)
    background-color: #555

h1,h2,h3
    color: $secondary

.heading
    position: absolute
    right: 50%

.content
    position: relative
    //flex: 1

//navbar styles
.nav-link
    position: relative
    white-space: nowrap
    &::after
        height: 1px
        width: 100%
        color: $tertiary
        position: absolute
        left: 0px
        bottom: 0px
        transition: ease 0.5s
        pointer-events: none
        opacity: 0
    &:hover::after
        opacity: 1
        >a
            color: #fff

.header
    background-color: $primary
    width: 100%
    position: relative
    font-size: 1.25rem
    min-height: 80px

.dropdown-menu
    width: 15rem
    border-radius: 1.75%
    transform: translateY(-10px)
    animation: fade-in 300ms forwards
    transition: ease-in-out 300ms
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3)

.banner
    img
        height: 5rem

.dropdown-item
    font-weight: 500
    &:hover 
        background-color: $tertiary
        color: #fff

.dropdown .dropdown-menu 
    background-color: $primary-light

.dropdown:hover > .dropdown-menu,.dropend:hover > .dropdown-menu 
    display: block
    margin-top: 0rem
    margin-left: 0.125rem

@media screen and (min-width: 992px)
    .dropend:hover > .dropdown-menu 
        position: absolute
        top: 0
        left: 100%
    .dropend .dropdown-toggle 
        margin-left: 0em

//footer styles
footer
    position: relative
    color: #474a4d
    margin-top: auto
    height: auto
    padding: 2rem
    background-color: $primary
    i
        float: left
        margin: 5px
    a
        text-decoration: none
        color: inherit
    h3
        color: inherit
    img
        margin-top: 2vh
        padding: 0
    span:hover
        color: $tertiary
    button
        margin-bottom: 10px

.form_group
    margin: 5px 10px
    padding: 5px 5px

.g-recaptcha
    margin: 0
    padding: 0
    overflow: auto
    overflow-y: hidden

.footer-contact
    padding: 5px 10px

.form-group
    margin-bottom: 15px

//body styles
main
    position: relative
    margin-top: 5px

//home page styles
.home-section
    margin: 1rem 0
    padding: 1.5rem 0

.home-banner
    padding: 0px 15px
    color: #000
    position: relative
    display: flex

.banner-logo
    img
        height: 10vw

.banner-title
    font-weight: bold
    padding: 3rem
    text-align: justify
    text-justify: inter-word
    h5
        font-size: 2rem
        color: inherit  
    h6
        color: #c9a740

.gallery-link
    font-size: 1.2rem
    font-style: oblique
    margin: 1.3rem
    padding: 0.5rem
    text-align: right

#homeGallery, #eventGallery
    $height: 30vw
    $height-mobile: 3vh
    height: $height
    background-color: #6f6f6f8b
    img
        position: relative
        left: 50%
        transform: translateX(-50%)
        height: $height

//thought
.thought
    font-style: italic
    font-size: 1.2rem
    
.thought-auth
    font-style: normal

//about us
.about-section
    div
        padding: 10px

.about
    img
        width: 100%
        margin-bottom: 2%

.notice
    h3
        text-align: center

.notice-content
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    a
        text-decoration: none
        color: $secondary
        text-transform: capitalize

.notice-card
    border-radius: 10px
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3)
    font-size: 1.35rem
    color: $secondary
    height: 3.5rem
    padding: 1.3rem
    margin: 0.7rem 0
    //border: thin solid $secondary
    &:hover
        background-color: #efefef


.stat-content
    display: flex
    justify-content: space-evenly
    background-color: $primary//#0B417E
    color: #fff
    padding: 10px
    border-radius: 15px
    
.stat-card
    display: flex
    flex-direction: column
    padding: 15px
    margin: 10px
    min-width: 20%
    border-radius: 15px
    transition: ease-in 1000ms forwards
    >i,h2,p
        align-self: center
    i
        transition: ease-in 1000ms forwards
        font-size: max(50px, 3vw)
        padding: 5px
            
    h2
        font-weight: bold
        color: inherit
    p
        text-align: center
        margin-top: 10px
        font-size: 1.3rem
    &:hover
        background-color: $primary-light//#0a396e
        i
            font-size: 3.2vw
            padding-bottom: 0px
            transform: translateY(-5px)

.facilities
    //background-color: #eee//#dadada
    button
        border: none

.faci-item
    position: relative
    background-color: #efefef
    display: grid
    grid-template-columns: 30px auto 
    grid-template-rows: 1.3rem 2rem 
    padding: 10px
    margin: 5px
    column-gap: 8px
    //border: 1px outset
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1)
    text-overflow: ellipsis
    border-radius: 15px
    &:hover
        background-color: #dadada

.faci-icon
    position: absolute
    top: 50%
    background-color: #fff
    display: flex
    justify-content: center
    align-content: center
    height: 2rem
    width: 2rem
    border-radius: 50%
    padding: 5px
    padding-top: 7px
    grid-area: 1 / 1 / 2

.faci-title
    grid-area: 1 / 2 / 2 
    padding-top: 0.2rem
    text-align: left

.faci-description
    font-size: 0.8rem
    padding-top: 0.5rem
    grid-area: 2 / 2 / 3

.map //homepage bottom map
    display: flex
    justify-content: space-around

//gallery & events
.gallery
    position: relative
    display: flexbox

.card
    margin: 1.25rem
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2)
    transform: translate(0px)
    transition: ease-out 300ms
    p
        margin: 0.2rem
     
    &:hover
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5)
        transform: translate3d(-3px, -2px, 0)

.card-title
    color: $secondary
    text-transform: capitalize
    margin: 0.25rem

.page-nav
    position: relative
    bottom: -1px

.about-container
    margin: 3rem 0px
    padding: 1.2rem
    font-size: 1.3rem

.about-img
   height: 30vw
   position: relative
   left: 50%
   transform: translateX(-50%)
   margin: 10px

//table
table
    margin: auto
    text-transform: capitalize

.data-table
    $table-color: $secondary //#009879
    border-collapse: collapse
    margin: 25px 0
    font-family: sans-serif
    min-width: 400px
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)
    thead tr
        background-color: $table-color
        color: #ffffff
        text-align: left
    th, td
        padding: 0.7rem 1rem
    tbody tr 
        border-bottom: 1px solid #dddddd
        &:nth-of-type(even) 
            background-color: #f3f3f3
        &:last-of-type 
            border-bottom: 2px solid $table-color
        &:hover
            color: $table-color






//vacancy page
.no-vacant-container
    height: 10vh
    position: relative

#no-vacant
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%)


//TC issued
.input-group
    display: flex
    justify-content: flex-end
    margin: 1.2rem

#search-button
    border-radius: 0 10px 10px 0

#tc-reload
    margin-left: 5px
    border-radius: 10px

//contact us
.contact
    position: relative
    left: 50%
    transform: translateX(-50%)
    border-collapse: collapse
    margin: 5rem
    td,th
        padding: 1rem
        border: 1px solid

//notice
.notice-container
    padding: 0 5rem
    .notice-card
        height: auto
    a
        text-decoration: none
        color: inherit
        text-transform: capitalize
        margin: 0 1.2rem
    p
        overflow-wrap: break-word
        color: #000
        margin: 1.2rem 2rem
        font-size: 1rem

.notice-title
    margin: 0 2rem

//event
.event-description
    font-size: 1.3rem

//alumni 


@media screen and ( max-width: 992px)
    .footer-logo //remove footer logo for smaller screens
        display: none
    .home-banner
        display: none
    .stat-content
        flex-direction: column
    #homeGallery
        display: none

//animation keyframes
@keyframes fade-in
    0%
        opacity: 0
    100%
        opacity: 1
        transform: translateY(0px)